

/***
* CSS3 FLIP CARDS
* Markup for an element that a user can hover to reveal content on the back, like a card
* Browser Support: Safari, Firefox, Chrome, IE8+, and Touch Devices; (IE9 and below will not have any flip effect but will just change on hover)
***/

.flip-card {
  display: block;
  position: relative;
  z-index: 1000;
  
  .card-front,
  .card-back {
    @include backface-visibility(hidden);
    @include single-transition(transform);
    display: inline-block;
    height: 100%;
    position: absolute;
    width: 100%; 
  }

  .card-front {
		@include transform3d(perspective($perspective) rotateY(0deg));
    z-index: 900;
  }

  .card-back {
		@include transform3d(perspective($perspective) rotateY(-180deg));
		/*
			@include create-transform(false, 0.7, 0.7, 0.7, 0, -180deg);	//	, 0, true, 289px, 0, 0, 0, 0, 0, 289px
		*/ 
   z-index: 800;
  }

  &:hover, &.flip-card-now {
    .card-front { 
      @include transform(rotateY(180deg));		//	No 3D fallback
      @include transform3d(rotateY(180deg));	//	pserspective-origin(289px)); 
    }
    .card-back { 
      z-index: 950; //No transform fallback
      @include transform(rotateY(0deg));			//	No 3D fallback
      @include transform3d(rotateY(0deg));		//	translateX(0px) pserspective-origin(0)); 
    }
  }
}




/*** Just for show... ***/

.flip-card {
  @include text-shadow(1px 1px 0 rgba(darken(#000000, 20%), .8) );
  color: #fff;
  cursor: pointer;
  float: left;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  min-width: 100px;
  max-width: 400px;
  
  .card-front,
  .card-back {
    @include box-sizing(border-box);
  }

  .card-front {
  	@include box-sizing(border-box);
  }

  /*.card-back,*/ .card-shadow {
  	@include box-shadow(0 0 80px rgba(darken(#000000, 10%), .8) inset);
    /*background-color: #499bea; // Old browsers*/
  } 
}


